<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class='wrapper'>
            <form action='/users' method='POST'>
                <input type="hidden" name="authenticity_token" value="token_value">
                <label for="name">Name</label>
                <input type="text" name="user[name]" value="">
                <label for="email">Email</label>
                <input type="text" name="user[email]" value="">
                <label for="password">Password</label>
                <input type="password" name="user[password]" value="">
                <label for="password">C Password</label>
                <input type="password" name="user[password_confirmation]" value="">
                <input type="submit" name="" value="submit">
            </form>
        </div>
    </body>

</html>
